
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* Set the background color for my page: */
body{
    /* background-color: #f4f2e5; */
    /* background-color: #F0F2FF; */

    background-color: "white";
    
}

.wrap{
    background-color: black;
    /* min-height: 30px; */
    /* border: 5px; */
    /* border-color:#1E5162; */
    /* border-style: solid; */ 
    position: fixed;
    width: 100%;
    z-index:1;
    top: 0%;

  
    
}

.rpb{
    padding:0 8px;
}

.col{
    width:24.99999%;
    /* border: none; */
    font-family: 'Inter', sans-serif;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color: white;
    /* background-color:#9cc6b0; */
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    background-color:black;
    color:white;
    width:100% 8px 16p;
}

.col:hover{
    color:black!important;
    background-color:#ffffff!important
}

/* buttons */

a{
    /* border: 1px; */
    border-color:#C3D7BC;
    /* border-style: ; */
    margin:30px 0; 
    font-size: 26px; 
    /* background-color: ; */
    margin-top: 10px;
    padding: 50px;
    color:white

    
    
   
    
}

a:hover{
    color: black;
}

#link1{
    font-size: 26px;
    margin-top: 30px;
  
}

#link5{
    font-size: 20px;
    margin-top: 30px;
    color:black;
    text-decoration: underline;
    color:rgb(17, 17, 17);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 10;
    font-size: 16px;
    padding: 0px;
}



#link4{
    /* background-color: rgb(210, 242, 250); */
    border: 0px;
    padding: 10px;


}

.bgbeige{
    color:#000!important;
    background-color:#fdf5e6!important;
    font-size:18px!important
}

.weekcontainer{
    padding:0.01em 16px;
    content:"";
    display:table;
    clear:both
}

.weekcontent{
    margin-left:auto!important;
    margin-right:auto!important;
    max-width:980px
}

.top{
    padding: 10px;
}

h1{
    padding: 30px;
    color:black;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
   
}

h2{
    color:#1E5162;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    
}

h3{
    color:rgb(17, 17, 17);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

p{
    color:rgb(17, 17, 17);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 10;
    font-size: 16px;
} 
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

     
    
    


    
}

.myWeek2{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}

.myWeek3{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}

.myWeek4{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}

.myWeek5{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}

.myWeek7{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}

.myWeek8{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}

.myWeek9{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}

.myWeek10{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}

.block1{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}

.block2{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}
.block3{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}
.block4{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}
.block5{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}
.block6{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}
.block7{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}
.block8{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}
.block9{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}
.block10{
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1E5162;

    
   


    
}
/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(255, 255, 255);
    width:360px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
   
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    border-color: #C3D7BC;
    
    

    
}



#Chart1{
    border-color: #C3D7BC;
    width:360px;

}
#Chart2{
    border-color: #C3D7BC;
    width:400px;

}
#Chart3{
    border-color: #C3D7BC;
    width:320px;

}
#Chart4{
    border-color: #C3D7BC;
    width:320px;

}
#Chart12{
    border-color: #C3D7BC;
    width:380px;

}

#ChartA{
    border-color: #C3D7BC;
    width:370px;

}

#ChartB{
    border-color: #C3D7BC;
    width:370px;

}

#ChartC{
    border-color: #C3D7BC;
    width:370px;

}
#ChartJ{
    border-color: #C3D7BC;
    width:370px;

}
#ChartG{
    border-color: #C3D7BC;
    width:420px;

}
#ChartK{
    border-color: #C3D7BC;
    width:870px;

}
#ChartF{
    border-color: #C3D7BC;
    width:370px;

}
#ChartL{
    border-color: #C3D7BC;
    width:490px;

}

#ChartONS1{
    border-color: #C3D7BC;
    width:270px;

}
#ChartONS2{
    border-color: #C3D7BC;
    width:270px;

}#ChartONS3{
    border-color: #C3D7BC;
    width:270px;

}
#ChartONS4{
    border-color: #C3D7BC;
    width:270px;

}
#ChartONS5{
    border-color: #C3D7BC;
    width:270px;

}
#ChartONS6{
    border-color: #C3D7BC;
    width:270px;

}
#ChartONS7{
    border-color: #C3D7BC;
    width:280px;

}
#ChartONS8{
    border-color: #C3D7BC;
    width:280px;

}
#ChartONS9{
    border-color: #C3D7BC;
    width:270px;

}
